@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container{
  background: url('/src/assets/hero_img.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  max-width: 100%;
}

.box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin: 80px 0;
  padding: 20px;
  flex-wrap: wrap;
}

.translated, .translator{
  background-color: #222534;
  border-radius: 25px;
  padding: 15px;
}


.selected-language{
  color: white;
  background-color: #4d5562;
  border-radius: 15px;
  width: 90px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 800;
}

.languages{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px #4b5360;
  margin: 20px 5px;
  color: #6b707f;
  padding-bottom: 15px;
}

.language-button{
  width: 90px;
  height: 40px;
  background-color: #222534;
  border: none;
  color: #6b707f;
  font-size: 14px;
  font-weight: 800;
}

.language-button:hover{
  cursor: pointer;
}

.text-area{
  width: 100%;
  height: 250px;
  background: none;
  border: none;
  color: white;
  resize: none;
  outline: none;
}


.audio-and-copy .translate-button{
  margin-left: 200px;
  width: 180px;
  height: 50px;
  background-color: #3762e4;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 15px;
}

.audio-and-copy button{
  width: 40px;
  height: 40px;
  background: none;
  margin: 15px;
  border: solid 3px #4b5360;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.audio-and-copy button img{
  width: 100%;
}

.audio-and-copy{
  display: flex;
}

.caracters-count{
  position: relative;
  left: 62%;
  bottom: 45px;
  color: #6b707f;
}

@media only screen and (max-width: 840px) {
  .box{
    flex-direction: column;
  }
  .box{
    margin-top: 80px;
    width: 100%;
  }

  .caracters-count{
    
  }

  .audio-and-copy .translate-button{
  
  }
}
